.container{
    width: 350px;
    /* height: 500px; */
    /* background-color: red; */
    margin-left: 500px;
    margin-top: 50px;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    /* position: relative; */
    z-index: 1;
    
}
header{
    font-size: 30px;
    color: steelblue;
    align-self: center;
    position: relative;
    left: 23%;
    /* border-bottom: 1px solid gray; */
}
.horizontal-line{
    position: relative;
    top: 5px;
    left: 38%;
    z-index: 3;
    height: 3px;
    width: 80px;
    background-color: steelblue;
    border-radius: 2px;
}
.search{
    position: relative;
    top: 20px;
    left: 25%;

    
}
.search > input{
    height: 20px;
    
}
.search > svg{
    position: absolute;
    /* right: 0; */
    
}

.allcontacts{
    margin-top: 40px;
}
.one-contact{
    padding-left: 20px;
    position: relative;

}
.one-full-contact:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    cursor: pointer;
}

.one-contact>svg{
    position: absolute;
    left: 300px;
    bottom: 20px;
    color: rgba(255, 0, 0, 0.753);
}
h3{
    margin-top: 20px;
    padding-left: 20px;
}