.cc{
    display: flex;
    
}
.butn{
    width: 30px;
    height: 30px;
    background-color: crimson;
    color: white;
    
}
.disp{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}